<ion-view title="Profile">
    <ion-content class="profile">
      <div class="list card" ng-init="vm.init()">
        <div class="item item-avatar">
          <img ng-src="{{vm.profileData.picture.data.url}}">
          <!-- <img ng-if="$window.localStorage.getItem('accessToken') != null" ng-src="{{vm.profileData.picture.data.url}}">
          <img ng-if="$window.localStorage.getItem('accessToken') == null" src="img/user.png" style="width: 13%"> -->
          <h2>{{vm.profileData.name}}</h2>
          <p>{{vm.profileData.id}}</p>
        </div>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-earth"></i>
          {{vm.profileData.website}}
        </a>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-home"></i>
          {{vm.profileData.location.name}}
        </a>
        <a href="#" class="item item-icon-left">
          <i class="icon ion-heart"></i>
          {{vm.profileData.relationship_status}}
        </a>
      </div>
      <button class="button button-block button-assertive" ng-click="vm.exit()">
        Sign out
      </button>
    </ion-content>
</ion-view>
