<ion-view title="Profile">
    <ion-content class="profile">
      <div class="list card" ng-init="vm.init()">
        <div class="item item-avatar">
          <img ng-src="{{vm.profileData.picture.data.url}}">
          <h2>{{vm.profileData.name}}</h2>
          <p>ID: {{vm.profileData.id}}</p>
        </div>
        <p class="item">
          <i class="ion-ios-person-outline"></i>
          Gender: {{vm.profileData.gender}}
        </p>
        <p class="item">
          <i class="ion-android-pin"></i>
          {{vm.profileData.location.name}}
        </p>
        <p class="item">
          <i class=""></i>
          {{vm.profileData.birthday}}
        </p>
        <!-- <p class="item">
          <i class=""></i>
          {{vm.profileData.}}
        </p> -->
      </div>
      <button class="button button-block button-positive" ng-click="vm.exit()">
        Sign out
      </button>
    </ion-content>
</ion-view>
