.social-btn {
  width: 76%!important;
  margin: 0 auto;
}
.ion-social-facebook-outline {

}
.ion-social-facebook-outline:before {
  background: blue!important;
  padding: 12px 15px!important;
  font-size: 32px;
}
.social {
  background: url(http://wallpoper.com/images/00/38/27/71/cityscapes-town_00382771.jpg) center;
}
